#mapid{
    height:600px;
}



i {
    width: 18px;
    height: 18px;
    float: left;
    margin-left: 36px;
    opacity:1;

   
}

div.info {
    width: 100px;
    height:140px;
    float: left;
    margin-right: 8px;
    background-color: lightgray;
    padding-top:25px;
    border-radius: 10%;
    
  
}
